<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/editUser.css">
</head>

<body>
    <div class="top-sector">
        <%- include('../partials/navbar'); %>

        <div>
            <!-- Change username -->
            <div class="username">
                <p>Username: @<%= userName %>
                </p>
            </div>

            <!-- Change email -->
            <p id="emailError"></p>
            <div>
                <div class="change-email">
                    <p>Email: <%= userEmail %>
                    </p>
                    <button type="button" onclick="changeEmail(this);">Change</button>
                </div>
            </div>

            <!-- Change password -->
            <p id="passwordErrors"></p>
            <div>
                <div class="change-password">
                    <p>Change password</p>
                    <button type="button" onclick="changePassword(this);">Change</button>
                </div>
            </div>

            <!-- Change language preference -->
            <p id="languageErrors"></p>
            <div>
                <div class="change-language">
                    <p>Language:
                        <span id="language">
                            <%= userLanguage %>
                        </span>
                    </p>
                    <button type="button" onclick="changeLanguage(this);">Change</button>
                </div>
            </div>

            <!-- Change interests -->
            <div class="change-interests">
                <div class="appending">
                    <p>Interests:</p>
                    <button type="button" onclick="appendInterest();">Add</button>
                </div>
                <div class="interests-list" id="interests">
                    <% for (var interest in userInterests){ %>
                        <div class="interests-item">
                            <%= userInterests[interest] %>
                                <button id="deleteInterest" data-url="/delete_interest"
                                    data-interest=<%=userInterests[interest] %>
                                    onclick="deleteInterest(this);">&#10005;</button>
                        </div>
                        <% } %>
                </div>
            </div>

            <!-- Delete user -->
            <div class="delete-user">
                <p>Delete account</p>
                <a href="/deleteUser" id="delete">
                    <button type="button">Delete</button>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="./js/passwordChangeValidation.js"></script>
    <script src="./js/profileFormsValidation.js"></script>
    <script src="./js/setLanguagePreference.js"></script>
    <script src="./js/interestsForm.js"></script>
</body>

</html>