<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <% if(geoLocation == "null") {%>
        <script>
            window.location.href = "/getstarted";
        </script>
    <% } %>
</head>

<body class="container">
    <div class="nav_content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="1" 
                d="M0,224L80,240C160,256,320,288,480,272C640,256,800,192,960,192C1120,192,1280,256,1360,288L1440,320L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
            </path>
        </svg>
        <nav class="nav_container">
            <div class="logo_nav">
                <h1>BeeXtrovert</h1>
            </div>
            <% if(isAdmin) { %>
                <div id="admin-page">
                    <a href="/admin">Admin</a>
                </div>
            <% } %>
            <div class="links_nav">
                <% if(loggedIn){ %> 
                <span id="username">Hello, @<%= userName %>.</span>
                <a href="/editUser">Edit profile</a>
                <a href="/logout">Logout</a>
                <% } else { %>
                <a href="/">Home</a>
                <a href="/signup">Sign Up</a>
                <a href="/signin">Sign In</a>
                <% } %>
            </div>
            <% if(loggedIn){ %>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <% if(loggedIn){ %> 
                        <span id="username">Hello, @<%= userName %>.</span>
                    <% } %>
                    <% if(isAdmin) { %>
                    <a href="/admin">Admin</a>
                    <% } %>
                    <a href="/">Home</a>
                    <a href="/editUser">Edit profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <% } else { %>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/signin">Sign In</a>
                </div>
            </div>
            <% } %>
        </nav>
        <section class=box_main>
            <blockquote>
                <%= fortune %>
            </blockquote>
        </section>            
    </div>
    <div id="connect-btn">
        <button>Connect</button>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>   
</body>

</html>