<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<style>
    #getStartedFormOverlay {
        position: fixed; /* Sit on top of the page content */
        display: block; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
</style>

<body class="fade-in">
    <div class="top-sector">
        <div class="nav_content">
            <nav class="nav_container">
                <div class="logo_nav">
                    <h1>
                        <a href="/">
                            <span id="bee-span">Bee</span>Xtrovert
                        </a>
                    </h1>
                </div>
        
                <% if(isAdmin) { %>
                    <div id="admin-page">
                        <a href="/admin">Admin</a>
                    </div>
                <% } %>
        
                <div class="links_nav">
                    <% if(loggedIn){ %> 
                    <span id="username">Hello, @<%= userName %>.</span>
                    <a href="/editUser">Edit profile</a>
                    <a href="/logout">Logout</a>
                    <% } else { %>
                    <a href="/">Home</a>
                    <a href="/signup">Sign Up</a>
                    <a href="/signin">Sign In</a>
                    <% } %>
                </div>
                <% if(loggedIn){ %>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <span id="username">Hello, @<%= userName %>.</span>
                        <% if(isAdmin) { %>
                        <a href="/admin">Admin</a>
                        <% } %>
                        <a href="/">Home</a>
                        <a href="/editUser">Edit profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <% } else { %>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
                        <a href="/signup">Sign Up</a>
                        <a href="/signin">Sign In</a>
                    </div>
                </div>
                <% } %>
            </nav>
            <hr id="nav-hr">
        </div>

        <div class="intro-container">
            <div class="column left">
                <div class="left-contents">
                    <h1 id="ready">Ready</h1>
                    <h1 id="to-leave">To Leave</h1>
                    <h1 id="your">Your</h1>
                    <h1 id="comfort">Comfort</h1>
                    <h1 id="zone">Zone<span id="question-mark">?</span></h1>
                </div>
            </div>
            <div class="column center">
                <img src="/images/intro-pic.jpg" alt="">
            </div>
            <div class="column right">
                <h2 class="right-contents">Beextrovert <span id="can">can</span> help!</h2>
            </div>
        </div>
        
        <div class="connect-error">
            <p id="conn-err"></p>
        </div>
        <% if(loggedIn){ %> 
            <div class="rooms">
                <div class="new-connection">
                    <button id="connect" class="nav-connect" style="font-size: 3em; margin-right: 5rem;">Connect</button>
                </div>
                <div class="rooms-dropdown">
                    <h2>Rooms<i class="arrow arrow-down"></i></h2>
                    <div class="rooms-dropdown-content">
                        <% for(var i=0; i < rooms.length; i++) {%>
                            <a href="/chat/<%= rooms[i].room_id %>"><%= rooms[i].room_name %></a>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="rooms" style="width: 90%;">
                <a href="/signin">
                    <button class="nav-connect" style="font-size: 3em;">Join Now</button>
                </a>
            </div>
        <% } %>
    </div>

    <div class="mission">
        <div class="mission-container">
            <div class="mission-column mission-left">
                <div class="mission-left-contents">
                    <h2>Our Mission</h2>
                    <hr id="our-mission-hr">
                </div>
            </div>
            <div class="mission-column mission-right">
                <div class="mission-right-contents">
                    <p>
                        Making friends can be hard sometimes. <br>BeeXtrovert aims to make it slightly easier. 
                        It connects you with groups of people in your geographical area with similar interests that you can meet 
                        and have good time with. The shared interests between the group members will make it smooth to break the ice.<br>
                        Go ahead, be friendly, make friends!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mission">
        <div class="mission-container">
            <div class="mission-column mission-left">
                <div class="mission-right-contents">
                    <p>
                        All you will have to do is simply set up your preferred language and your interests in your
                        profile settings. Depending on these data we will connect you to other users who share the same
                        speaking language, interests and also users in a close geolocation range.
                    </p>
                </div>
            </div>
            <div class="mission-column mission-right">
                <div class="mission-left-contents">
                    <h2>How does it work?</h2>
                    <hr id="our-mission-hr">
                </div>
            </div>
        </div>
    </div>

    <div class="mission" style="background: linear-gradient(90deg, #ffa200, #ffffff);">
        <div class="mission-container">
            <div class="mission-column mission-left">
                <div class="mission-left-contents">
                    <h2>What you need to know</h2>
                    <hr id="our-mission-hr">
                </div>
            </div>
            <div class="mission-column mission-right">
                <div class="mission-right-contents">
                    <ul style="text-align: left; list-style-type: disc;">
                        <li>
                            Be decent to others.
                        </li>
                        <li>
                            A member will get kicked if the chat group decides to report them.
                        </li>
                        <li>
                            Report who deserves it.
                        </li>
                        <li>
                            Don't make other members uncomfortable.
                        </li>
                    </ul>
                    <!-- <p>
                        Be decent to others.<br>
                        A member will get kicked if the chat group decides to report them.<br>
                        Report who deserves to be reported.<br>
                        Don't make other members uncomfortable.<br>
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Edit this -->
    <% if(country_code == "null") {%>
    <div id="getStartedFormOverlay">
        <input class="text-boxes" type="text" name="country-code" id="country-code" value="<%= country_code %>" readonly>
        <input class="text-boxes" type="text" name="country" id="country" value="<%= country %>" readonly>
        <input class="text-boxes" type="text" name="city" id="city" value="<%= city %>" readonly>
        <p id="langprefError"></p>
        <form id="set_language" class="set_language" action="/set_language" method="post">
            <select id="selectLanguage" name="selectLanguage">
                <option selected disabled>Choose your language</option>
            </select>
        </form>
        <p id="interestsError"></p>
        <form action="/add_interests" method="post" id="interests">
            <h2>Enter each interest separated by a comma.</h2>
            <textarea name="interests" cols="30" rows="10" placeholder="Example: music, walking, etc."></textarea>
            <input id="submit-interests" type="submit" value="Submit">
        </form>
    </div>
    <% } %>

    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>   

    <script src="./js/getLocation.js"></script>
    <script src="./js/interestsForm.js"></script>
    <script src="./js/setLanguagePreference.js"></script>
    <script src="./js/detectCountryCodeChange.js"></script>
    <script src="./js/roomConnector.js"></script>
</body>

</html>